<a href="https://colab.research.google.com/github/jogeuncheol/2022_BoostCamp_AI_Pre-Course/blob/main/Python_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 축구 선수 정보를 Class로 구현하기

In [10]:
class SoccerPlayer(object):
  def __init__(self, name, position, back_number):
    self.name = name
    self.position = position
    self.back_number = back_number

  def change_back_number(self, new_number):
    print("선수의 등번호를 변경합니다. : From %d to %d" % (self.back_number, new_number))
    self.back_number = new_number
  
  def __str__(self):
    return "Hello, My name is %s. My back number is %d" % (self.name, self.back_number)

  def __add__(self, other):
    return self.name + other.name

In [12]:
apple = SoccerPlayer('Apple', 'FW', 7)
banana = SoccerPlayer('Banana', 'FW', 8)

In [13]:
apple, banana

(<__main__.SoccerPlayer at 0x7fb42e4744d0>,
 <__main__.SoccerPlayer at 0x7fb42e474fd0>)

In [14]:
apple is banana

False

In [15]:
print(apple), apple

Hello, My name is Apple. My back number is 7

(None, <__main__.SoccerPlayer at 0x7fb42e4744d0>)

In [16]:
print(banana), banana

Hello, My name is Banana. My back number is 8

(None, <__main__.SoccerPlayer at 0x7fb42e474fd0>)

In [17]:
apple + banana

'AppleBanana'

In [18]:
apple.change_back_number(10)

선수의 등번호를 변경합니다. : From 7 to 10

# **Note를 정리하는 프로그램 작성**

In [19]:
class Note(object):
  def __init__(self, content = None):
    self.content = content
  
  def write_content(self, content):
    self.contnet = str(content)
  
  def remove_all(self):
    self.content = None

  def __add__(self, other):
    return self.content + other.content

  def __str__(self):
    return self.content

In [20]:
class NoteBook(object):
  def __init__(self, title):
    self.title = title
    self.page_number = 1
    self.notes = {} # dictionary

  def add_note(self, note, page = 0):
    if self.page_number < 300:
      if not page:
        self.notes[self.page_number] = note
        self.page_number += 1
      else:
        self.notes = {page: note}
        self.page_number += 1
    else:
      print("page is 300")
  
  def remove_note(self, page_number):
    if page_number in self.notes:
      return self.notes.pop(page_number)
    else:
      print("해당 페이지가 없습니다.")

  def get_number_of_page(self):
    return (len(self.notes.keys()))

In [21]:
my_notebook = NoteBook('hello world')

In [22]:
new_note = Note('hello world!!!')

In [23]:
print(new_note)

hello world!!!

In [24]:
new_note2 = Note('222')

In [26]:
print(new_note2)

222

In [27]:
my_notebook.add_note(new_note)

In [28]:
my_notebook.add_note(new_note2)

In [31]:
my_notebook.get_number_of_page()

2

In [33]:
print(my_notebook.notes[1])

hello world!!!

In [34]:
print(my_notebook.notes[2])

222

# 상속

In [35]:
class Person: # class Person(object): 와 같음
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

  def about_me(self):
    print("저의 이름은 ", self.name, "이구요, 제 나이는 ", str(self.age), "살 입니다.")

  def __str__(self):
    return "저의 이름은 ", self.name, "이구요, 제 나이는 ", str(self.age), "살 입니다."

In [41]:
class Employee(Person): # 부모 클래스 Person으로 부터 상속
  def __init__(self, name, age, gender, salary, hire_date):
    super().__init__(name, age, gender) # 부모의 객체를 사용 super::부모클래스를 뜻함
    self.salary = salary
    self.hire_date = hire_date # 속성 값 추가

  def do_work(self):
    print("work! work! work!")

  def about_me(self):   # 부모 클래스의 함수 재정의
    super().about_me()  # 부모 클래스의 about_me 함수를 사용
    print("급여는 ", self.salary, " 입사일은 ", self.hire_date, " 입니다.")

In [42]:
myPerson = Person('Jo', 24, 'male')
myPerson.about_me()

저의 이름은  Jo 이구요, 제 나이는  24 살 입니다.

In [43]:
myEmployee = Employee('ge', 25, 'male', 1000, '2022/03/02')
myEmployee.about_me()

저의 이름은  ge 이구요, 제 나이는  25 살 입니다.
급여는  1000  입사일은  2022/03/02  입니다.

# 다형성

In [44]:
class Animal:
  def __init__(self, name):
    self.name = name
  
  def talk(self):
    raise NotImplementedError("Subclass must implement abstract method")

In [45]:
class Cat(Animal):
  def talk(self):
    return "Meow"

In [46]:
class Dog(Animal):
  def talk(self):
    return "Woof"

In [47]:
animals = [
  Cat('navi'),
  Cat('tom'),
  Dog('dodo')
]

for animal in animals:
  print(animal.name + ': ' + animal.talk())

navi: Meow
tom: Meow
dodo: Woof

# Visibility

In [48]:
class Product(object):
  pass

In [49]:
class Inventory(object):
  def __init__(self):
    self.items = []
    self.test = "abc"

  def add_new_item(self, product):
    if type(product) == Product:
      self.items.append(product)
      print("new item added")
    else:
      raise ValueError("Invalid item")

  def get_number_of_items(self):
    return len(self.items)

In [50]:
my_inventory = Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
my_inventory.items.append('abs') # <-- Product 클래스 타입이 아닌 items 리스트에 직접 접근이 가능해 원하는 기능을 수행하지 못함
my_inventory.items.append('qwe')

new item added
new item added

In [51]:
class Inventory(object):
  def __init__(self):
    self.__items = []

  def add_new_item(self, product):
    if type(product) == Product:
      self.__items.append(product)
      print("new item added")
    else:
      raise ValueError("Invalid item")

  def get_number_of_items(self):
    return len(self.__items)

In [52]:
my_inventory = Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
my_inventory

new item added
new item added

In [54]:
# __ private로 직접 접근을 막음
my_inventory.__items.append('qwe123')

AttributeError: ignored

In [55]:
class Inventory(object):
  def __init__(self):
    self.__items = []

  def add_new_item(self, product):
    if type(product) == Product:
      self.__items.append(product)
      print("new item added")
    else:
      raise ValueError("Invalid item")

  def get_number_of_items(self):
    return len(self.__items)

  @property
  def items(self):
    return self.__items

In [56]:
my_inventory = Inventory()
my_inventory.add_new_item(Product())
my_inventory.add_new_item(Product())
my_inventory

new item added
new item added

In [57]:
my_inventory.__items

AttributeError: ignored

In [60]:
my_inventory.items

[<__main__.Product at 0x7fb42e308550>,
 <__main__.Product at 0x7fb42e35b910>,
 'hello']

In [61]:
my_inventory.items.append('hello')

# Decorate

In [62]:
# First-class objects
def square(x):
  return x * x

f = square
f(5)

25

In [63]:
def cube(x):
  return x * x * x

In [64]:
# 함수를 파라미터로 사용 가능
def formula(method, argument_list):
  return [method(value) for value in argument_list]

In [65]:
formula(square, [1, 2, 3])

[1, 4, 9]

In [66]:
formula(cube, [1, 2, 3])

[1, 8, 27]

In [67]:
# inner function
def print_msg(msg):
  def printer():
    print(msg)
  printer()

print_msg('hello, Python')

hello, Python

In [70]:
# closures : inner function을 return값으로 반환
def print_msg(msg):
  def printer():
    print(msg)
  return printer

another = print_msg("hello, Python!!!")
another()

hello, Python!!!

In [71]:
other_msg = print_msg('안녕하세요, Python')
other_msg()

안녕하세요, Python

In [72]:
another()
other_msg()

hello, Python!!!
안녕하세요, Python

In [73]:
def tag_func(tag, text):
  tag = tag
  text = text

  def inner_func():
    return '<{0}>{1}<{0}>'.format(tag, text)

  return inner_func

h1_func = tag_func('title', 'This is Python Class')
p_func = tag_func('p', 'Data Academy')

In [76]:
h1_func()
# p_func()

'<title>This is Python Class<title>'

In [77]:
def star(func):
  def inner(*args, **kwargs):
    print("*" * 30)
    func(*args, **kwargs)
    print("*" * 30)
  return inner

In [78]:
@star
def printer(msg):
  print(msg)

In [79]:
printer('Hello')

******************************
Hello
******************************

In [81]:
def star(func):
  def inner(*args, **kwargs):
    print(args[1] * 30)
    func(*args, **kwargs)
    print(args[1] * 30)
  return inner

@star
def printer(msg, mark):
  print(msg)

printer("Hello", "=")

==============================
Hello
==============================

In [88]:
def generate_power(exponent):
  def wrapper(f):
    def inner(*args):
      result = f(*args)
      print(result)
      return exponent**result
    return inner
  return wrapper

@generate_power(2)
def raise_two(n):
  return n**2

In [89]:
print(raise_two(7))

49
562949953421312

In [90]:
2**49

562949953421312